
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.signup-options-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: 'Inter', sans-serif;
  align-items: start;
}

.signup-option {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 30px;
}

.icon {
  width: 24px;
  height: 24px;
}

.text {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  color: black;
}

.link-content {
  display: flex;
  align-items: center;
  gap: 8px; /* Adjust spacing between the icon and text */
}
.link-content:hover .text {
  color: #800000; /* Change this to your preferred hover color */
}