.columnTwo{
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  @media (max-width: 768px){
    .columnTwo {
      display: flex;
      flex-direction: column;
      width: 60%
    }
  }