@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

/* "Rethink Sans", sans-serif */

.container {
  width: 100%;
}
.donorStat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stat {
  width: 30%;
  text-wrap: wrap;
  text-align: center;
  background-color: #008000;
  color: #ffffff;
  padding: 0.5em;
  border-radius: 5px;
}
.statText {
  font-size: 0.5rem;
  font-family: "Rethink Sans", sans-serif;
  font-weight: 500;
}
.statNum {
  font-family: "Rethink Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .donorStat {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .stat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    font-size: 0.3rem;
    text-wrap: wrap;
    border-radius: 3px;
  }
  .statText {
    font-size: 0.3rem;
    font-family: "Rethink Sans", sans-serif;
    font-weight: 500;
  }
  .statNum {
    font-family: "Rethink Sans", sans-serif;
    font-weight: 500;
    font-size: 0.5rem;
  }
}
