.container {
  display: flex;
  width: 100%;
  padding: 2em;
  margin: .5em 0 2em 0;
  justify-content: space-around;
  background-color: #fffbfb;
  gap: .5rem;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
    /* margin: 2em 0; */
    justify-content: center;
    align-items: center;
    background-color: #fffbfb;
    gap: 2rem;
  }
}
