@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

/* "Rethink Sans", sans-serif; */

.overviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block-start: 1em;
}
.emergencyOverviewHeader {
  background-color: #8b0a1a;
  color: #ffffff;
  font-family: "Rethink Sans", sans-serif;
  margin-inline: 0.5em;
  padding: 0.5em 1em;
  border-radius: 3px;
  font-size: 0.5em;
}
.emergencyStat {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stat {
  display: flex;
  justify-content: space-between;
}
.stat div {
  color: #404040;
  background-color: #ffffff;
  border-radius: 3px;
  margin: 0.5em;
  padding: 0.2em 1em;
  width: 45%;
}
.stat p,
.stat p {
  font-family: "Rethink Sans", sans-serif;
  font-size: 0.5em;
}
.stat {
  display: flex;
  justify-content: space-between;
}
.stat div {
  color: #404040;
  background-color: #ffffff;
  border-radius: 3px;
  margin: 0.5em;
  padding: 0.2em 1em;
  width: 30%;
}

@media (max-width: 768px) {
  .stat div {
    width: 45%;
  }
}
