nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: "Rethink Sans", Arial, sans-serif; /* Set font family */
  font-size: 20px; /* Set font size */
  font-weight: 400; /* Regular weight */
}

.re {
  font-family: "Rethink Sans", Arial, sans-serif;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
}

nav ul li {
 list-style: none; 
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  font-family: "Rethink Sans", Arial, sans-serif; /* Font family for links */
  font-size: 20px; /* Font size for links */
  font-weight: 400; /* Regular weight for links */
}

nav ul li a:not(.active):hover {
  background-color: #D3D3D3 ;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: black;
  border-radius: 0.2rem;
}

@media (max-width: 700px) {
  nav .menu {
      display: flex;
  }

  nav {
      flex-direction: column;
      align-items: flex-start;
  }

  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
  }

  nav ul.open {
      display: flex;
  }

  nav ul li {
      width: 100%;
      text-align: center;
  }

  nav ul li a {
      margin: 0.2rem 0.5rem;
  }
}

/* Specific styling for the Sign Up button */
nav ul li a.signup {
  background-color: green;
  color: white;
  border-radius: 0.5rem;
}

/* Optional: Styling for hover effect on Sign Up button */
nav ul li a.signup:hover {
  background-color: darkgreen;
}

@media (max-width: 480px) {
  nav ul li a {
      color: #9a1928; /* Red color for links in mobile view */
      font-family: "Rethink Sans", Arial, sans-serif; /* Font family for links */
      font-size: 20px; /* Font size for links */
      font-weight: 400; /* Regular weight for links */
  }

  nav ul li a.signup {
      background-color: green; /* Retain the green color for the Sign Up button */
      color: white; /* Ensure contrast */
  }

  /* Optional hover effects for mobile */
  nav ul li a:hover {
      background-color: black; /* Slight hover background effect for links in mobile */
  }

  nav ul li a.signup:hover {
      background-color: darkgreen;
  }
}