@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

/* "Rethink Sans", sans-serif */

.recentUpdateContainer {
  display: flex;
  flex-direction: column;
  margin-block-start: 1.5em;
}
.recentUpdateHeader {
  color: #8b0a1a;
  font-weight: 700;
  font-family: "Rethink Sans", sans-serif;
  font-size: 0.7rem;
}
.updateRequest p:nth-child(2) {
  color: #dcdcdc;
}
.updateRequest {
  display: flex;
  margin: 1em;
}
.updateRequest p {
  margin-inline-end: 1em;
  color: #ffffff;
  font-size: 0.5rem;
  font-family: "Rethink Sans", sans-serif;
}
.updateRequest p:first-child {
  border-bottom: 1px solid #ffffff;
  padding-block-end: 0.1em;
}
.updateContainer {
  background-color: #8b0a1a;
  border-radius: 5px;
  width: 90%;
}
div.searchUpdateWrapper {
  margin: 1em;
  border-radius: 5px;
}
.searchUpdateWrapper input[type="search"] {
  color: #706f6f66;
  width: 100%;
  padding: 0.5em 3em;
  border-radius: 5px;
  font-size: 0.7rem;
}
.updates {
  margin: 1em;
  height: 17.5rem;
  overflow-y: scroll;
}
.updates .updateData {
  background-color: #ffffff;
  padding: 0.5em;
  margin-block: 0.5em;
  border-radius: 2.5px;
}

.updates .updateData div:first-child {
  display: flex;
  justify-content: space-between;
}

.updates .updateData p {
  color: #706f6f;
  font-size: 0.5rem;
  font-family: "Rethink Sans", sans-serif;
}

.updates .updateData div p:first-child {
  font-weight: 700;
  margin-block-end: 1em;
}

@media (max-width: 768px) {
  .updateContainer {
    width: 100%;
    padding: 0;
  }
  div.searchUpdateWrapper {
    margin: 0.3em;
  }
  .searchUpdateWrapper input[type="search"] {
    padding: 0.5em 3em;
    border-radius: 3px;
    font-size: 0.5rem;
  }
  .updates .updateData {
    background-color: #ffffff;
    padding: 0.3em;
    margin-block: 0.3em;
    border-radius: 2.5px;
  }
  .updates {
    margin: 0.3em;
    height: 25rem;
    overflow-y: scroll;
  }
}
