.recipientHeaderContainer {
  display: flex;
  justify-content: space-between;
  margin: 0.7em;
}
.recipientHeading {
  width: 55%;
}
.recipientHeaderContainer div h1 {
  font-size: 1.5rem;
  color: #404040;
  font-weight: 700;
}
.recipientHeaderContainer div p {
  color: #404040;
  margin-block: 1em;
  font-size: 0.8rem;
}
.searchDonor {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  background-color: #008000;
  padding: 0.5em 0 0.5em 0.005em;
  border-radius: 5px;
  margin-block: 2.5em;
}
.searchDonor #donorSearch {
  background-color: transparent;
  width: 70%;
  outline: none;
  color: #ffffff80;
  font-size: 0.7rem;
}
.searchDonor button {
  background-color: #ffffff;
  padding: 1em 2em;
  color: #008000;
  margin: 0.5em;
  font-weight: 700;
}
.recipientImageWrapper {
  align-self: stretch;
  border-radius: 5px;
  width: 35%;
}
.recipientImageWrapper img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
}
.summary {
  display: flex;
  align-items: baseline;
}
.summary div {
  margin-inline-end: 1em;
  margin-block: 1em;
}
.summary div p:first-child {
  font-weight: 700;
  font-size: 1.5rem;
}
.summary div p:nth-child(2) {
  font-size: 0.5rem;
}
.summary div p {
  color: #404040;
}

@media (max-width: 768px) {
  .recipientHeaderContainer {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
  }
  .recipientHeading {
    width: 100%;
  }
  .recipientImageWrapper {
    align-self: stretch;
    border-radius: 5px;
    width: 100%;
    margin-block-end: 2em;
  }
  .summary p{
    font-size: 0.3rem;
  }
  .summary div {
    margin-inline-end: 1em;
    margin-block-end: 0.5em;
  }
  .searchDonor {
    display: flex;
    margin-block: 0.3em;
  }
}
