@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

/* "Rethink Sans", sans-serif; */
.requestDetailContainer {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

div.requestDetailContainer div p {
  color: #404040;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0;
  margin: 0.09em;
  padding: 0.2em 1em;
  border-radius: 5px;
  font-family: "Rethink Sans", sans-serif;
  font-size: 0.5em;
}

.requestDetailContainer .requestDetailHeader p {
  background-color: #8B0A1A;
  color: #FFFFFF;
  padding: 0.5em 1em;
}
