@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

/* "Rethink Sans", sans-serif */

.container {
  width: 100%;
  border-radius: 5px;
}
.main {
  background-color: #8b0a1a;
  display: flex;
  flex-direction: column;
}
.heading {
  color: #8b0a1a;
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.heading p {
  font-family: "Rethink Sans", sans-serif;
}
.requestTracker {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.requestTrackHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.requestStatus {
  display: flex;
  align-self: self-start;
  margin-inline-start: 0.7em;
  margin-block-start: 1em;
}
.requestStat {
  margin-inline-start: 0.5em;
  font-size: 0.5em;
  font-family: "Rethink Sans", sans-serif;
  color: #dcdcdc;
}
.requestTrackHeader p:first-child {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 0.3em;
}
.selected {
  color: #ffffff;
}
.searchContainer {
  width: 95%;
  margin-inline: 0 0.5em;
}
.search {
  width: 100%;
  background-color: #ffffff;
  color: #706f6f66;
  border-radius: 3px;
  padding: 0.5em 1em;
  padding-inline-start: 2em;
  margin-inline-start: 0.7em;
  font-family: "Rethink Sans", sans-serif;
  font-size: 0.5em;
}
.requestIdContainer {
  display: flex;
  flex-wrap: wrap;
}
.requestBody {
  display: flex;
  margin: 0.7em;
}
.requestField {
  background-color: #ffffff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.requestValue {
  background-color: #ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.requestField p,
.requestValue p {
  font-family: "Rethink Sans", sans-serif;
  color: #706f6f;
  font-size: 0.5rem;
  margin: 0.5em 1.5em;
}

button {
  background-color: #008000;
  color: #ffffff;
  font-size: 0.5em;
  margin-left: 2.5em;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin-bottom: 1.5em;
  font-family: "Rethink Sans", sans-serif;
}
.requestMain {
  background-color: #ffffff;
  margin: 0.7em;
  border-radius: 5px;
}
